# Binaries
*.exe
localdrop
localdrop.exe

# Runtime files 
*.pid
*.log
files/
adminList.json
listOfFiles.json
localdrop.db

# Testing
internal/services/testing/

# IDE
.vscode/
.VSCodeCounter/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
scripts/
.hintrc
.env
# Added by goreleaser init:
dist/
